---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectsSection from "../components/ProjectsSection.astro"
import SkillSection from "../components/SkillSection.astro";
const pageTitle = "WELCOME TO MY PORTFOLIO!";
---

<MainLayout pageTitle={pageTitle}>
    <div class="min-h-screen" id="about">
        <h2 class="text-2xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6">Software Developer</h2>
        <h2 class="text-2xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6">Economist</h2>
        <h2 class="text-2xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6">Engineer</h2>
        <div class="grid grid-cols-2 grid-rows-2 gap-6 p-4 h-[30vh]">
            <SkillSection stackPart={"language"} sectionTitle={"LANGUAGES"} />
            <SkillSection stackPart={"backend"} sectionTitle={"BACKEND"} />
            <SkillSection stackPart={"frontend"} sectionTitle={"FRONTEND"} />
            <SkillSection stackPart={"other"} sectionTitle={"OTHER"} />
        </div>      
    </div>
    <ProjectsSection/>
</MainLayout>
