---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Welcome to my portfolio!";
import IconWrapper from "../components/IconWrapper.astro";
import SkillSection from "../components/SkillSection.astro";
---

<MainLayout pageTitle={pageTitle}>
  <div class="grid grid-cols-2 gap-4 h-100">
    <SkillSection stackPart={"backend"} sectionTitle={"Backend"}/>

    <div class="flex flex-col space-y-4 h-100">
      <SkillSection stackPart={"backend"} sectionTitle={"Backend"}/>
      <SkillSection stackPart={"frontend"} sectionTitle={"Frontend"}/>
      <SkillSection stackPart={"other"} sectionTitle={"Other"}/>
    </div>
  </div>
</MainLayout>
