---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Wojciech Zgliniecki";

---

<MainLayout pageTitle={pageTitle}>
  <h2>Hi I am Wojciech and I have many interests.</h2>
  <h2>Vegan cook</h2>
  <h2>Engineer</h2>
  <h2>Economist</h2>
  <h2></h2>
  <h2>Vegan cook</h2>
  <h2>Fullstack developer</h2>
  <h2>Page in active development, please visit soon!</h2>
</MainLayout>