---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Wojciech Zgliniecki";

---

<MainLayout pageTitle={pageTitle}>
  <h2>Fullstack developer</h2>
  <h2>Page in active development, please visit soon!</h2>
</MainLayout>