---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "WELCOME TO MY PORTFOLIO!";
import IconWrapper from "../components/IconWrapper.astro";
import SkillSection from "../components/SkillSection.astro";
---

<MainLayout pageTitle={pageTitle}>
  <div class="grid grid-cols-2 gap-4 h-100">
    <SkillSection stackPart={"backend"} sectionTitle={"BACKEND"}/>

    <div class="flex flex-col space-y-4 h-100">
      <SkillSection stackPart={"backend"} sectionTitle={"BACKEND"}/>
      <SkillSection stackPart={"frontend"} sectionTitle={"FRONTEND"}/>
      <SkillSection stackPart={"other"} sectionTitle={"OTHER"}/>
    </div>
  </div>
</MainLayout>
