---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Hi, I am Wojciech Zgliniecki!";
import IconWrapper from "../components/IconWrapper.astro";
---

<MainLayout pageTitle={pageTitle}>
  <p class="flex items-center space-x-2">
    My main technology is
    <IconWrapper iconName="python" />
    and
    <IconWrapper iconName="javascript" />
    but I also code in
    <IconWrapper iconName="rust" />
    and
    <IconWrapper iconName="elixir" />
  </p>
  <p class="flex items-center space-x-2">
    As a fullstack dev I use
    <IconWrapper iconName="fastapi" />
    and
    <IconWrapper iconName="django" />, on the backend but I also code in
    <IconWrapper iconName="react" />
    and
    <IconWrapper iconName="vuedotjs" /> with and
    <IconWrapper iconName="nuxtdotjs" /> on the frontend. This website was created
    using
    <IconWrapper iconName="astro" /> with and
    <IconWrapper iconName="tailwindcss" />.
  </p>
  <p class="flex items-center space-x-2">
    Other technologies I use are:
    <IconWrapper iconName="docker" />,
    <IconWrapper iconName="kubernetes" />,
    <IconWrapper iconName="pytorch" />, and
    <IconWrapper iconName="postgresql" />.
  </p>
</MainLayout>
