---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Wojciech Zgliniecki";

---

<MainLayout pageTitle={pageTitle}>
  <h2>Hi I am Wojciech.</h2>
  <h2>Fullstack developer</h2>
</MainLayout>