---
import MainLayout from "../layouts/MainLayout.astro";
import { Linkedin, Github } from "lucide-astro";
const pageTitle = "Wojciech Zgliniecki";
---

<MainLayout pageTitle={pageTitle}>
  <h2>Hi I am Wojciech.</h2>
  <h2>Fullstack developer</h2>
  <div class="flex">
    <a href="https://pl.linkedin.com/in/wojciech-zgliniecki-1279a1166"
      ><Linkedin /></a
    >
    <a href="https://github.com/wzgliniecki/"><Github /></a>
  </div>
</MainLayout>
