---
import { MoonStar, Sun, Linkedin, Github } from "lucide-astro";
---

<header class="bg-main dark:darkBg shadow-md">
  <nav class="flex items-center justify-between h-20 px-6">
    <div class="text-xl font-semibold text-gray-900 dark:text-white">
      <a href="/">Wojciech Zgliniecki</a>
    </div>

    <div class="flex space-x-6 text-gray-900 dark:text-white">
      <a href="/" class="hover:text-primary dark:hover:text-primary-light"
        >Home</a
      >
      <a
        href="/projects/"
        class="hover:text-primary dark:hover:text-primary-light">Projects</a
      >
    </div>
    <div class="flex">
      <a
        class="flex items-center justify-center p-2 rounded-lg focus:outline-none"
        href="https://pl.linkedin.com/in/wojciech-zgliniecki-1279a1166"
        ><Linkedin /></a
      >
      <a
        class="flex items-center justify-center p-2 rounded-lg focus:outline-none"
        href="https://github.com/wzgliniecki/"><Github /></a
      >
      <button
        type="button"
        id="theme-selector"
        class="flex items-center justify-center p-2 rounded-lg focus:outline-none"
        aria-label="Toggle Theme"
      >
        <MoonStar class="h-6 w-6 dark:hidden" />
        <Sun class="hidden dark:inline h-6 w-6" />
      </button>
    </div>
  </nav>
</header>

<script is:inline>
  const setTheme = () => {
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme || "light");
  };

  setTheme();

  document.addEventListener("astro:after-swap", setTheme);
</script>
<script>
  const setToggleListener = () => {
    let toggleBtn = document.getElementById("theme-selector");
    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");

      const isDark = element.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    toggleBtn?.addEventListener("click", handleToggleClick);
  };

  setToggleListener();

  document.addEventListener("astro:after-swap", setToggleListener);
</script>
