---

---

<header class="bg-white dark:bg-gray-900 shadow-md">
  <nav class="flex items-center justify-between h-20 px-6">
    <div class="text-xl font-semibold text-gray-900 dark:text-white">
      <a href="/">Wojciech Zgliniecki</a>
    </div>

    <div class="flex space-x-6 text-gray-900 dark:text-white">
      <a href="/" class="hover:text-primary dark:hover:text-primary-light">Home</a>
      <a href="/skills/" class="hover:text-primary dark:hover:text-primary-light">Skills</a>
      <a href="/projects/" class="hover:text-primary dark:hover:text-primary-light">Projects</a>
    </div>

    <button
      type="button"
      id="theme-selector"
      class="flex items-center justify-center p-2 rounded-lg focus:outline-none"
      aria-label="Toggle Theme"
    >
      <img
        class="hidden dark:inline h-6 w-6"
        src="/icons/sun.png"
        alt="Sun Icon"
      />
      <img
        class="h-6 w-6 dark:hidden"
        src="/icons/moon.png"
        alt="Moon Icon"
      />
    </button>
  </nav>
</header>

<script is:inline>
  if (
    localStorage.theme === 'light' ||
    (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: light)').matches)
  ) {
    document.documentElement.classList.add('light');
  } else {
    document.documentElement.classList.remove('light');
  }

  document.getElementById("theme-selector")?.addEventListener("click", () => {
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
      document.documentElement.classList.add("light");
    } else {
      localStorage.theme = "dark";
      document.documentElement.classList.remove("light");
      document.documentElement.classList.add("dark");
    }
  });
  document.addEventListener('astro:after-swap', function () {
    if (localStorage.getItem(STORAGE_KEY) === 'dark')
    document.documentElement.classList.toggle('dark', true);
  }); 
</script>