---
import ModeButton from "./ModeButton.astro";

---
<div class="navigation">
    <a href="/">Home</a>
    <a href="/skills/">Skills</a>
    <a href="/projects/">Projects</a>

    <ModeButton></ModeButton>
</div>