---
const {
  sectionTitle,
  stackPart
} = Astro.props;
import TechnologiesBar from "./TechnologiesBar.astro";
import { TECHNOLOGIES as technologiesList } from "../constants";
---

<div
    class="bg-main dark:bg-mainAccent border-black border-2 shadow-boxShadow rounded-md text-center"
>
    <h2>{sectionTitle}</h2>
    <TechnologiesBar technologiesList={technologiesList.filter(tech => tech.stackPart === stackPart).map(tech => tech.iconTitle)} />
</div>
