---
const { sectionTitle, stackPart } = Astro.props;
import { TECHNOLOGIES as technologiesList } from "../constants";
import IconWrapper from "../components/IconWrapper.astro";
---

<div class="card w-full bg-base-100 shadow-xl">
  <h2>{sectionTitle}</h2>

  <div class="card-body">
    <ul class="space-y-2">
      {
        technologiesList
          .filter((tech) => tech.stackPart === stackPart)
          .map((tech) => {
            return (
              <li class="flex items-center space-x-3">
                <IconWrapper iconName={tech.iconName}   class={"w-8 h-8 dark:text-gray-700"}/>
                <span class="text-lg font-medium text-gray-700">{tech.iconTitle}</span>
              </li>
            );
          })
      }
    </ul>
  </div>
</div>
