---
const { technologiesList } = Astro.props;
import { TECHNOLOGIES as allTechnologies } from "../constants.js";
import IconWrapper from "../components/IconWrapper.astro";
---

<div class="flex flex-wrap justify-center gap-4 max-w-full">
  {
    allTechnologies
      .filter((technology) =>
        technologiesList.some(
          (tech) => tech.toLowerCase() === technology.iconTitle.toLowerCase(),
        ),
      )
      .map((technology) => (
        <button
          type="button"
          class="flex items-center justify-center p-2 rounded-lg border-black border-2 hover:shadow-boxShadow bg-button hover:bg-buttonHover active:bg-buttonActive w-10 h-10"
        >
          <IconWrapper
            iconName={technology.iconName}
            classes={"w-6 h-6 text-text dark:text-darkText"}
          />
        </button>
      ))
  }
</div>
