---
const { technologiesList } = Astro.props;
import { TECHNOLOGIES as allTechnologies } from "../constants.js";
import IconWrapper from "../components/IconWrapper.astro";
---

<div class="flex max-h-20 justify-center bg-white-600 dark:bg-gray-800">
  {
    allTechnologies
      .filter((technology) => technologiesList.includes(technology.iconTitle))
      .map((technology) => <IconWrapper iconName={technology.iconName} />)
  }
</div>
