---
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <SEO
      title="Wojciech Zgliniecki - Fullstack Developer & Machine Learning Enthusiast"
      description="Explore the portfolio of Wojciech Zgliniecki, a fullstack developer with a background in automatics, economics, and machine learning."
      openGraph={{
        basic: {
          title: "Wojciech Zgliniecki - Fullstack Developer & ML Enthusiast",
          type: "website",
          image:
            "https://github.com/wzgliniecki/wzgliniecki.github.io/tree/main/public/images/android-chrome-512x512.png?",
          url: "https://wzgliniecki.github.io/",
        },
      }}
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png?"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png?"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png?"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
    <title>{pageTitle}</title>
  </head>

  <body
    class="bg-bg text-text dark:bg-darkBg dark:text-darkText transition-all duration-300"
  >
    <a
      href="#main"
      class="skip-nav-link absolute left-2 transform -translate-y-[160%] bg-mainAccent px-8 py-2.5 transition-transform duration-325 ease-in focus:-translate-y-0.5"
    >
      Skip to main content
    </a>
    <Header />
    <main
      id="main"
      class="min-w-100 mx-auto px-6 py-12 overflow-y-scroll h-screen snap-y snap-mandatory"
    >
      <slot />
    </main>
  </body>
</html>
