---
import DevelopmentWarning from "../components/DevelopmentWarning.astro";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" class="bg-gray-50 text-gray-900">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <script>
      if (
        localStorage.theme === 'light' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: light)').matches)
      ) {
        document.documentElement.classList.add('light');
      } else {
        document.documentElement.classList.remove('light');
      }
    </script>
    <script>
      document.getElementById("theme-selector")?.addEventListener("click", () => {
        if (localStorage.theme === "dark") {
          localStorage.theme = "light";
          document.documentElement.classList.remove("dark");
          document.documentElement.classList.add("light");
        } else {
          localStorage.theme = "dark";
          document.documentElement.classList.remove("light");
          document.documentElement.classList.add("dark");
        }
      });
    </script>
    <title>{pageTitle}</title>
  </head>
  <body class="min-h-screen bg-white text-gray-900 dark:bg-gray-800 dark:text-white transition-colors duration-300">
    <header class="bg-gray-200 dark:bg-gray-700 shadow-md">
      <div class="max-w-7xl mx-auto px-4 py-4">
        <Header />
      </div>
    </header>

    <main class="px-4 py-8 max-w-7xl mx-auto">
      <h1 class="text-3xl font-semibold text-center">{pageTitle}</h1>
      <slot></slot>
    </main>

    <DevelopmentWarning />
  </body>
</html>
